.gpt3__header {
    display: flex;
    /* margin-left: 30px; */
    height:fit-content;
    
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -0.04em;
    /* margin-top: 0.5rem; */
}

.gpt3__header-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: var(--color-text);
}

.gpt3__header-content__input {
     width: 100%;
    margin: 1rem 0;
    display: flex;
}

.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 40px;
    font-family: var(--font-family);
   font-size: 20px;
   line-height: 27px;
   background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    color: #3D61B4;
    outline: none;
    color: #fff;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.gpt3__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: #ff4B20;
    color: #FFFF;
    cursor: pointer;
    outline: none;
    border: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.gpt3__header-content__people img {
    width: 181.77px;
    height: 36px;
}
.gpt3__header-content__people p {
    margin-left: 1rem 1rem;
    font-family: var(--font-family);
    font-weight: 500px;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.gpt3__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__header-image img {
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 1050px) {
   .gpt3__header {
    flex-direction: column;
    margin-right: 2rem;
   } 

   .gpt3__header-content {
    margin: 0 0 3rem;
   }

   .gpt3__header-image img {
    width: 60%;
    height: 60%;
}

}

@media screen and (max-width: 650px) {
    .gpt3__header h1 {
     font-size: 48px;
     line-height: 60px;
    } 
 
    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }
    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }

    .gpt3__header-content__input,
    .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
 }

 @media screen and (max-width: 490px){
    .gpt3__header h1 {
        font-size: 34px;
        line-height: 44px;
       } 
    
       .gpt3__header p {
           font-size: 14px;
           line-height: 24px;
       }

    .gpt3__header-content__input,
    .gpt3__header-content__input button {
        font-size: 10px;
        line-height: 15px;
    }
}